body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgb(128 128 0 / 9%);;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}